spin_manifest_version = 2

[application]
name = "moonblokz-telemetry-hub"
version = "0.1.1"
authors = ["Peter Sallai (Bad Access)<peter.sallai@badaccess.eu>"]
description = "Moonblokz Telemetry Hub - a central application to collect telemetry data from Moonblokz Test Stations."

[[trigger.http]]
route = "/..."
component = "moonblokz-telemetry-hub"


[variables]
probe_api_key = { required = true }
log_collector_api_key = { required = true }
cli_api_key = { required = true }
delete_timeout_minutes = { default = "60" }
cleanup_interval_minutes = { default = "1" }
default_upload_interval = { default = "300" }
loglevel = { default = "info" }

[component.moonblokz-telemetry-hub]
source = "target/wasm32-wasip2/release/moonblokz_telemetry_hub.wasm"
allowed_outbound_hosts = []
key_value_stores = ["default"]
sqlite_databases = ["default"]

[component.moonblokz-telemetry-hub.build]
command = "cargo build --target wasm32-wasip2 --release"

[component.moonblokz-telemetry-hub.variables]
probe_api_key = "{{ probe_api_key }}"
log_collector_api_key = "{{ log_collector_api_key }}"
cli_api_key = "{{ cli_api_key }}"
delete_timeout_minutes = "{{ delete_timeout_minutes }}"
cleanup_interval_minutes = "{{ cleanup_interval_minutes }}"
default_upload_interval = "{{ default_upload_interval }}"
loglevel = "{{ loglevel }}"
